h4,
h3 {
  text-align: center;
}
.cards {
  width: 70%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  margin: 60px 20px 60px 200px;
  padding: 20px;
}
.card1 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 50px;
}
.part {
  display: flex;

  width: 80%;
  gap: 50px;
  align-items: center;

}
.cardc {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 30px;
  border: 1px solid grey;
  box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.2);
  margin: 20px 0px 20px 0px;
  padding: 20px;
  border-radius: 10px;
}
.parent{
  
}
